.vjs-big-play-button, .vjs-controls-disabled .vjs-control-bar {
  display: block !important;
}

#anime-video > * {
  display: none;
}

#anime-video {
  position: relative;
  padding: 0;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.vjs-controls-disabled .vjs-control-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: right;
  display: flex!important;
  color: white;
  background: rgb(42, 42, 202);
}

.vjs-play-control.vjs-paused::after {
  content: "\25B6";
  color: white;
  visibility: visible;
  margin: auto;
}

.vjs-play-control.vjs-playing::after {
  content: "\23F8";
  color: white;
  background-color: initial;
  visibility: visible;
  margin:auto;
}

.vjs-mouse-display > :not(.vjs-volume-tooltip) {
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 2em;
  left: 0;  
  color: rgb(17, 139, 238);
}

.vjs-time-tooltip {
  position: absolute;
}

.vjs-big-play-button::after {
  content: "\25B6 Watch";
  color: white;
  background-color: black;
  visibility: visible;
  width: 20%;
  margin: auto;
  height: 2.5rem;
  border: 1px solid;
  left: 0;
  right: 0;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: absolute;
  transition: scale .3s ease-in;
}

.vjs-big-play-button:hover::after {
  border-color: rgb(74, 74, 247);
  color: rgb(74, 74, 247);
  scale: 1.05;
} 

.vjs-play-control {
  position: absolute;
  bottom: 0;
  left: 0;
}

.vjs-control-text {
  display: none;
}