.vjs-big-play-button {
  all:unset;
  display: block !important;
}

#anime-video {
  position: relative;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.vjs-play-control.vjs-paused::after {
  content: "\25B6";
  color: white;
  visibility: visible;
  margin: auto;
}

.vjs-play-control.vjs-playing::after {
  content: "\23F8";
  color: white;
  background-color: initial;
  visibility: visible;
  margin:auto;
}

.vjs-big-play-button::after {
  content: "\25B6 Watch";
  color: white;
  background-color: black;
  visibility: visible;
  width: 20%;
  margin: auto;
  height: 2.5rem;
  border: 1px solid;
  left: 0;
  right: 0;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: absolute;
  transition: scale .3s ease-in;
}

.vjs-big-play-button:hover::after {
  border-color: rgb(74, 74, 247);
  color: rgb(74, 74, 247);
  scale: 1.05;
} 

.vjs-big-play-button.remove::after {
  all:unset;
}

.vjs-control {
  display: none;
}

.vjs-control-text {
  display: none;
}