@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.format::before {
  content: attr(data-format);
  background-color: #374151;
  z-index: 2;
  position: absolute;
  top: 0;
}
@layer base{
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.825rem;
  }
}

.active {
  color: #020617;
  font-weight: bold;
}

div > .active {
  color: rgb(147 197 253);
  background: white;
}

.format\:p-2::before {
  left: .75em;
}

body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #020617;
}

#root {
  min-height: 100vh;
}